<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend_tutorial.course_erp.repository.CourseRepository">

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
        INSERT INTO courses(name,  status)
        VALUES(#{name}, #{status});
    </insert>

<!--    <select id="findByName" resultType="Course">-->

<!--        SELECT-->
<!--        <include refid="courseBaseColumns"></include>-->
<!--        FROM course c-->
<!--        WHERE c.name= #{name}-->
<!--        AND c.is_deleted=false-->
<!--    </select>-->

    <sql id="courseBaseColumns">
        c.id,
        c.name,
        c.description,
        c.is_deleted
    </sql>

</mapper>
